# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# local env files
.env*.local

# vercel
.vercel
.env
next.config.js.bak
package.json.bak
pages/test/getActorListForm.jsx.bak
pages/test/getUserDataForm.jsx.bak
pages/test/loginForm.jsx.bak
pages/test/registrationUserForm.jsx.bak
pages/test/searchActorsForm.jsx.bak
pages/test/updateUserDataForm.jsx.bak
